<ion-view view-title="首页">
    <ion-content padding="true" has-bouncing="true">
        <a class="button button-block button-positive" href="#/app/home/browse">
            复选框
        </a>
        <a class="button button-block button-positive" href="#/app/home/radio">
            单选框
        </a>
        <a class="button button-block button-positive" href="#/app/home/modal">
            模型
        </a>
        <a class="button button-block button-positive" href="#/app/home/sheet">
            上拉菜单
        </a>
        <a class="button button-block button-positive" href="#/app/home/pupop">
            对话框
        </a>
        <a class="button button-block button-positive" href="#/app/home/platform">
            工具
        </a>
        <a class="button button-block button-positive" href="#/app/home/audio">
            播放音频
        </a>
        <a class="button button-block button-positive" href="#/app/home/barcode">
            扫描二维码
        </a>
        <a class="button button-block button-positive" href="#/app/home/video">
            h5 video播放
        </a>
        <a class="button button-block button-positive" href="#/app/home/picture">
            上传图片
        </a>
        <a class="button button-block button-positive" href="#/app/home/localnotification">
            本地通知
        </a>
    </ion-content>
</ion-view>
