<ion-view>
  <ion-content>
    <button class="button button-positive button-block" ng-click="scheduleSingleNotification()">单一通知</button>
    <button class="button button-positive button-block" ng-click="scheduleMultipleNotifications()">多重通知</button>
    <button class="button button-positive button-block" ng-click="scheduleDelayedNotification()">延迟通知</button>
    <button class="button button-positive button-block" ng-click="scheduleEveryMinuteNotification()">每分钟通知</button>
    <button class="button button-positive button-block" ng-click="updateSingleNotification()">更新单一通知</button>
    <button class="button button-positive button-block" ng-click="updateMultipleNotifications()">更新多重通知</button>
    <button class="button button-positive button-block" ng-click="cancelSingleNotification()">取消单一通知</button>
    <button class="button button-positive button-block" ng-click="cancelMultipleNotifications()">取消多重通知</button>
    <button class="button button-positive button-block" ng-click="cancelAllNotifications()">撤销所有通知</button>
  </ion-content>
</ion-view>
