<ion-view view-title="录音">
    <ion-content>
      <button class="button button-block button-positive" ng-click="play()">play</button>
      <button class="button button-block button-positive" ng-click="pause()">pause</button>
      <button class="button button-block button-positive" ng-click="stop()">stop</button>
      <button class="button button-block button-positive" ng-click="release()">release</button>
      <button class="button button-block button-positive" ng-click="seekTo()">seekTo</button>
      <button class="button button-block button-positive" ng-click="setVolume()">setVolume</button>
      <button class="button button-block button-positive" ng-click="startRecord()">startRecord</button>
      <button class="button button-block button-positive" ng-click="stopRecord()">stopRecord</button>
  </ion-content>
</ion-view>



