<ion-view title="模型">
  <ion-nav-buttons side="right" class="bar-positive">
    <button class="button button-icon ion-compose" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="contact in contacts">
        {{contact.name}}
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="templates/modal2.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary button-icon ion-close" ng-click="modal.hide()"></button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input ng-model="newUser.firstName" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input ng-model="newUser.lastName" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="newUser.email" type="text">
          </label>
          <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>


</ion-view>
